<h4>información del proceso</h4>
<ul class="info_lista-style">
<li>Argumentos:{{informacion.Argumentos}}</li>
<li>Plataforma: {{informacion.plataforma}}</li>
<li>Node Versión: {{informacion.Version_Node}}</li>
<li>memoria: <ul>{{memoria}}</ul></li>
<li>path de ejecución: {{informacion.path_de_ejecucion}}</li>
<li>process id: {{informacion.id_del_proceso}}</li>
<li>carpeta del proyecto: {{informacion.carpeta_del_proyecto}}</li>
<li>CPUS: {{informacion.CPUS}}</li>
</ul>